In [ ]:
import numpy as np
import pandas as pd

data = {'name'  : ['Jack', 'Bill', 'Phic', 'Tao'], 'grade' : [9.8, 4.5, 7.7, 9.4] }
df = pd.DataFrame(data)
print ( df)

   name  grade
0  Jack    9.8
1  Bill    4.5
2  Phic    7.7
3   Tao    9.4

In [15]:
wines = pd.read_csv('winequality-red.csv', sep = ';')
wines.head()
wines.columns
wines.info()
wines.mean() # avg value of each columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1599 entries, 0 to 1598
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   fixed acidity         1599 non-null   float64
 1   volatile acidity      1599 non-null   float64
 2   citric acid           1599 non-null   float64
 3   residual sugar        1599 non-null   float64
 4   chlorides             1599 non-null   float64
 5   free sulfur dioxide   1599 non-null   float64
 6   total sulfur dioxide  1599 non-null   float64
 7   density               1599 non-null   float64
 8   pH                    1599 non-null   float64
 9   sulphates             1599 non-null   float64
 10  alcohol               1599 non-null   float64
 11  quality               1599 non-null   int64
dtypes: float64(11), int64(1)
memory usage: 150.0 KB

fixed acidity            8.319637
volatile acidity         0.527821
citric acid              0.270976
residual sugar           2.538806
chlorides                0.087467
free sulfur dioxide     15.874922
total sulfur dioxide    46.467792
density                  0.996747
pH                       3.311113
sulphates                0.658149
alcohol                 10.422983
quality                  5.636023
dtype: float64

In [ ]:
wines[['pH', 'alcohol', 'quality']].head() # lấy nhiều cột thì phải dùng list 
wines.describe().T # .T transpose matrix 
# xóa cột : df.pop()

,count,mean,std,min,25%,50%,75%,max
fixed acidity,1599.0,8.319637,1.741096,4.60000,7.1000,7.90000,9.200000,15.90000
volatile acidity,1599.0,0.527821,0.179060,0.12000,0.3900,0.52000,0.640000,1.58000
citric acid,1599.0,0.270976,0.194801,0.00000,0.0900,0.26000,0.420000,1.00000
residual sugar,1599.0,2.538806,1.409928,0.90000,1.9000,2.20000,2.600000,15.50000
chlorides,1599.0,0.087467,0.047065,0.01200,0.0700,0.07900,0.090000,0.61100
free sulfur dioxide,1599.0,15.874922,10.460157,1.00000,7.0000,14.00000,21.000000,72.00000
total sulfur dioxide,1599.0,46.467792,32.895324,6.00000,22.0000,38.00000,62.000000,289.00000
density,1599.0,0.996747,0.001887,0.99007,0.9956,0.99675,0.997835,1.00369
pH,1599.0,3.311113,0.154386,2.74000,3.2100,3.31000,3.400000,4.01000
sulphates,1599.0,0.658149,0.169507,0.33000,0.5500,0.62000,0.730000,2.00000
alcohol,1599.0,10.422983,1.065668,8.40000,9.5000,10.20000,11.100000,14.90000
quality,1599.0,5.636023,0.807569,3.00000,5.0000,6.00000,6.000000,8.00000

In [ ]:
data = {'name'  : ['Jack', 'Bill', 'Phic', 'Tao'], 'grade' : [9.8, 4.5, 7.7, 9.4] }
df = pd.DataFrame(data)
#print (df)
# add new column
df['age'] = [15, 16, 16, 18]

#print ( df )
df.loc[0, 'grade'] = 8.9 # tham chiếu theo dòng-- lấy info của hàng 0 cột grade 
# loc cho phép dùng index hàng là str
data = {'name'  : ['Jack', 'Bill', 'Phic', 'Tao'], 'grade' : [9.8, 4.5, 7.7, 9.4] ,'code' :['id1', 'id2', 'id3', 'id4']}
df2 = pd.DataFrame(data)
#df2.loc['id2', 'grade'] = 8.9
print ( df2 )
df2.set_index('code')

# thêm dòng dùng append

   name  grade code
0  Jack    9.8  id1
1  Bill    4.5  id2
2  Phic    7.7  id3
3   Tao    9.4  id4

      name  grade
code
id1   Jack    9.8
id2   Bill    4.5
id3   Phic    7.7
id4    Tao    9.4

In [ ]:
wines['quality'].value_counts()
# group wines by quality 

wines[wines.quality == 3].sort_values(by = 'fixed acidity', ascending= False)
# xác định lại nhãn dòng dùng set_index
#df.set_index

df.iloc[:2, :3] # iloc index dùng dạng số, hàng trước cột sau 
#df.loc[:, :3] # loc không dùng được để slicing dùng số cho tên cột 

wines[(wines['quality'] >= 3) & (wines['quality'] <= 5) & (wines['fixed acidity'] >= 10)]
# lọc dữ liệu theo điều kiện

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
56,10.2,0.42,0.57,3.4,0.070,4.0,10.0,0.99710,3.04,0.63,9.6,5
252,11.1,0.35,0.48,3.1,0.090,5.0,21.0,0.99860,3.17,0.53,10.5,5
264,12.5,0.56,0.49,2.4,0.064,5.0,27.0,0.99990,3.08,0.87,10.9,5
272,10.9,0.37,0.58,4.0,0.071,17.0,65.0,0.99935,3.22,0.78,10.1,5
289,11.6,0.42,0.53,3.3,0.105,33.0,98.0,1.00100,3.20,0.95,9.2,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1414,10.0,0.32,0.59,2.2,0.077,3.0,15.0,0.99940,3.20,0.78,9.6,5
1416,10.0,0.32,0.59,2.2,0.077,3.0,15.0,0.99940,3.20,0.78,9.6,5
1436,10.0,0.38,0.38,1.6,0.169,27.0,90.0,0.99914,3.15,0.65,8.5,5
1470,10.0,0.69,0.11,1.4,0.084,8.0,24.0,0.99578,2.88,0.47,9.7,5
1548,11.2,0.40,0.50,2.0,0.099,19.0,50.0,0.99783,3.10,0.58,10.4,5